---
layout: login
title: "Geosatelital - Login"
styles:
    - helper
    - style
scripts:
    - jquery.slimscroll
    - sidebarmenu
    - lib/sticky-kit-master/dist/sticky-kit.min
    - lib/crypto/crypto
---
    
<div class="unix-login">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="login-content card">
                    <div class="login-form">
                        <img class="img-responsive" src="http://panel.geosatelital.com/geosatelital_nlogo.png" alt="Geosatelital logo">
                        <% form_tag 'pages/dashboard', :class => 'form_login', :method => 'get' do %>
                            <div class="form-group">
                                <label>Correo electrónico</label>
                                <input type="email" id="email" class="form-control" placeholder="Email">
                                <span id="emailError" style="font-size: 12px;color:#D4072B;font-style: italic;float: right;padding-top: 3px;visibility: hidden">Correo electrónico no válido</span>
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input type="password" id="password" class="form-control" placeholder="Password">
                                <span id="passemptylError" style="font-size: 12px;color:#D4072B;font-style: italic;float: right;padding-top: 3px;display: none">Contraseña no válida</span>
                            </div>
                            <!-- <div class="checkbox" style="padding-top:5px">
                                <label>
                                    <input type="checkbox">Recordarme
                                </label>
                                <label class="pull-right">
                                    <a href="#">Olvidó su contraseña?</a>
                                </label>
                            </div> -->
                            <button id="login_submit" type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Ingresar</button>
                            <!-- <div class="register-link m-t-15 text-center">
                                <p>Aún no tiene cuenta ? <a href="layouts/page-register.html">Registrarme</a></p>
                            </div> -->
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



