<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon.png">
    <title><%= current_page.data.title || "Geosatelital"%> </title>
    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag 'lib/bootstrap/bootstrap.min' %>
    <!-- Custom CSS -->
    <% current_page.data.styles.each do |f| %>
        <%= stylesheet_link_tag f %>
    <% end %>
</head>
<body class="fix-header fix-sidebar">

   <!-- Main wrapper  -->
    <div id="main-wrapper">
        <%=yield %>
    </div>
    <!-- End Wrapper -->

    <!-- All Jquery -->
    <%= javascript_include_tag 'lib/jquery/jquery.min' %>
    <%= javascript_include_tag 'conf' %>

    <!-- Bootstrap tether Core JavaScript -->
    <%= javascript_include_tag 'lib/bootstrap/js/popper.min' %>
    <%= javascript_include_tag 'lib/bootstrap/js/bootstrap.min' %>
    <!-- plugins JavaScript -->
    <% current_page.data.scripts.each do |s| %>
        <%= javascript_include_tag s %>
    <% end %>
    <!--Custom JavaScript -->
    <%= javascript_include_tag 'custom.min' %>
    <%= javascript_include_tag 'lib/ajax/login' %>

</body>
</html>