---
title: "Geosatelital - Facturación"
site: "Facturación"
base_url: "http://api.geointranet/v1/billing"
styles:
    - lib/toastr/toastr.min
    - lib/sweetalert/sweetalert
    - helper
    - style
    - billing
    - lib/bootstrap/datetimepicker/bootstrap-datetimepicker.min 
scripts:
    - jquery.slimscroll
    - sidebarmenu
    - lib/sticky-kit-master/dist/sticky-kit.min
    - lib/toastr/toastr.min
    - lib/toastr/toastr.init
    - lib/sweetalert/sweetalert.min
    - lib/sweetalert/sweetalert.init
    - custom.min
    - lib/template/billing.template 
    - lib/resources/billing-init 
    - lib/bootstrap/datetimepicker/momentjs 
    - lib/bootstrap/datetimepicker/bootstrap-datetimepicker.min 

---
    
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Registros de Facturas 
                    <div class="btn btn-secondary" id="add-reg">
                        <i class="fa fa-plus"></i>
                    </div>
                </h4> 
                <div>
                    <span>Buscar</span>
                    <input class="form-control" type="text" name="global_search">
                </div>
                <div class="table-responsive m-t-40">
                    <table id="regs_table" class="geo-api display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr> 
                                <th attr-key="id">ID</th>
                                <th attr-key="code">#Factura</th>
                                <th attr-key="billing_date">Fecha</th> 
                                <th attr-key="doc_type">Tipo de Factura</th>
                                <th attr-key="cycle">Ciclo de Facturación</th>
                                <th attr-key="type">Tipo de Facturación</th>
                                <th class="disabled">Acción</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="pag_table">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-reg-details" aria-labelledby="">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información de Factura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> 

                <ul class="nav nav-tabs" role="tablist" style="width:100%;">
                    <li class="nav-item">
                        <a 
                            class="nav-link active show" 
                            href="#primary" 
                            role="tab" 
                            data-toggle="tab" 
                            aria-selected="true">Datos principales</a>
                    </li>
                    <li class="nav-item">
                        <a 
                            class="nav-link" 
                            href="#secondary" 
                            role="tab" 
                            data-toggle="tab" 
                            aria-selected="false">Items</a>
                    </li> 
                </ul>

                <!--
                        `id` int(10) UNSIGNED NOT NULL AUTO_INCREMENT,
                        `client_id` int(10) UNSIGNED NOT NULL, 
                        `code` varchar(255) COLLATE utf8_unicode_ci NOT NULL COMMENT 'codigo de factura de sunat como E001-4003',
                        `billing_date` date, 
                        `doc_type` TINYINT UNSIGNED NOT NULL DEFAULT 0, 
                        `type` TINYINT UNSIGNED NOT NULL DEFAULT 1, 
                        `cycle` TINYINT UNSIGNED NOT NULL DEFAULT 1, 
                -->

                <div class="tab-content" style="width:100%;margin-top: 15px;">
                    <div id="primary" class="tab-pane active show" role="tabpanel"> 
                        <div class="form-group">
                            <label>Cliente: </label><div id="client_info_name" class="btn"></div>
                            <i class="fa fa-search btn btn-default" id="toggle_modal_find_client">&nbsp;Buscar</i> 
                            <div id="g_find_client" style="display: none;">
                                <input class="form-control" type="text" id="modal_find_client" placeholder="Buscar nuevo cliente"/>
                                <select id="modal_select_client" persistent class="form-control" name="new_client_id">
                                    <option value="">Seleccionar</option>
                                </select>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-form-label">#Factura</label>
                            <div>
                                <input class="form-control" name="code" persistent id="code" type="text" value="" placeholder="E001-00001">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-form-label">Fecha de Emisión</label>
                            <div>
                                <div class='input-group date' id='billing_date'>
                                    <input type='text' class="form-control" persistent name="billing_date"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-form-label">Tipo de Factura</label>
                            <div>
                                <select class="form-control" name="type" persistent id="type">
                                    <option value="" selected>Seleccionar</option>
                                    <option value="0">Boleta</option>
                                    <option value="1">Factura</option>
                                    <option value="2">Recibo</option>
                                </select>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-form-label">Ciclo de Facturación</label>
                            <div>
                                <select class="form-control" name="cycle" persistent id="cycle">
                                    <option value="" selected>Seleccionar</option>
                                    <option value="20">Reconexión u otros</option>
                                    <option value="0">Sólo Dispositivo</option>
                                    <option value="1">Mensual</option>
                                    <option value="3">Trimestral</option>
                                    <option value="6">Semestral</option>
                                    <option value="12">Anual</option>
                                </select>
                            </div>
                        </div> 
                        <div class="form-group" id="content-price" style="display:none;">
                            <label class="col-form-label">Precio</label>
                            <div>
                                <input class="form-control" name="price" id="price" persistent type="text" value="" placeholder="Precio">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Tipo de Facturación</label>
                            <div>
                                <select class="form-control" persistent name="doc_type" id="doc_type">
                                    <option value="" selected>Seleccionar</option>
                                    <option value="0">Consolidada</option>
                                    <option value="1">Disgregada</option>
                                </select>
                            </div>
                        </div>  
                        <div class="form-group">
                            <button class="btn btn-primary" id="btn-update">Guardar Cambios</button>
                        </div>
                    </div>
                    <div id="secondary" class="tab-pane" role="tabpanel"> 
                        <hr />
                        <h3>
                            Listado de Items
                            <div class="btn btn-secondary" id="toggle-new-item">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="btn btn-secondary" id="toggle-search-item">
                                <i class="fa fa-search"></i>
                            </div>
                        </h3>
                        <div id="add-reg-form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group"> 
                                        <input style="max-width:500px" class="form-control" type="text" id="add-new-item-input" placeholder="Tipee Placa ó SimCard ó Imei a agregar">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <select id="add-reg-items" class="form-control">
                                                    <option value="">SELECCIONAR</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="btn btn-secondary" id="add-item-list">
                                                    <i class="fa fa-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="add-reg-price" placeholder="Precio">
                                    </div>
                                </div>
                                <div class="col-sm-6"> 
                                </div> 
                            </div>
                        </div>
                        <div class="form-group" id="search-item-form">
                            <div class="row">
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="buscar_item" id="buscar_item_inside_billing" placeholder="Buscar item"/> 
                                </div>
                                <div class="col-sm-4">
                                    <div class="btn btn-secondary" id="clear_find_item">
                                        Borrar
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <table id="items_table" class="geo-api display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr> 
                                    <th class="disabled">Detalles</th> 
                                    <th attr-key="vehicles_id">Placa</th>
                                    <th attr-key="price">Precio</th>  
                                    <th class="disabled">Acción</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-reg-remove" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar factura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">  
                <div>Eliminar registro ?</div>
            </div>
            <div class="modal-footer">  
                <button type="button" id="del-reg" reg-id="" class="btn btn-primary" aria-label="delete">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>  