---
title: "Geosatelital - Clientes"
site: "Cliente"
styles:
    - lib/toastr/toastr.min
    - lib/sweetalert/sweetalert
    - helper
    - style
scripts:
    - jquery.slimscroll
    - sidebarmenu
    - lib/sticky-kit-master/dist/sticky-kit.min
    - lib/crypto/crypto
    - lib/toastr/toastr.min
    - lib/toastr/toastr.init
    - lib/sweetalert/sweetalert.min
    - lib/sweetalert/sweetalert.init
    - custom.min
    - lib/datatables/datatable
    - lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min
    - lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min
    - lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min
    - lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min
    - lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts
    - lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min
    - lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min
    - lib/datatables/datatables-init
    - lib/ajax/charging 

---

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Exportar Data</h4>
                <h6 class="card-subtitle">Exportar data como CSV, Excel, PDF</h6>
                <div class="table-responsive m-t-40">
                    <table id="charging_table" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID FACTURA</th>
                                <th>ID CLIENTE</th>
                                <th>FECHA</th>
                                <th>MONTO A PAGAR</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID FACTURA</th>
                                <th>ID CLIENTE</th>
                                <th>FECHA</th>
                                <th>MONTO A PAGAR</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>