---
title: "Geosatelital - Vehículos"
site: "Vehículos"
base_url: "http://api.geointranet/v1/vehicles"
styles:
    - lib/toastr/toastr.min
    - lib/sweetalert/sweetalert
    - helper
    - style
    - vehicles
scripts:
    - jquery.slimscroll
    - sidebarmenu
    - lib/sticky-kit-master/dist/sticky-kit.min
    - lib/toastr/toastr.min
    - lib/toastr/toastr.init
    - lib/sweetalert/sweetalert.min
    - lib/sweetalert/sweetalert.init
    - custom.min
    - lib/resources/vehicles-init
    - lib/template/vehicles.template
    - lib/ajax/vehicles

---
    
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Registros de Vehículos</h4> 
                <div>
                    <span>Buscar</span>
                    <input class="form-control" type="text" name="global_search">
                </div>
                <div class="table-responsive m-t-40">
                    <table id="vehicles_table" class="geo-api display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr> 
                                <th attr-key="id">ID</th>
                                <th attr-key="plate">Placa</th>
                                <th attr-key="imei">IMEI</th>
                                <th attr-key="brand">Marca</th>
                                <th attr-key="model">Modelo</th>
                                <th class="disabled">Acción</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="pag_table">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-veh-details" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información de vehículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> 
                <div class="form-group">
                    <label>Cliente: </label><div id="client_info_name"></div> 
                </div> 
                <div class="form-group">
                    <label class="col-form-label">IMEI</label>
                    <div>
                        <input class="form-control" name="imei" type="text" value="">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-form-label">Nombre</label>
                    <div>
                        <input class="form-control" name="name" type="text" value="">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-form-label">Marca</label>
                    <div>
                        <input class="form-control" name="brand" type="text" value="">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-form-label">Modelo</label>
                    <div>
                        <input class="form-control" name="model" type="text" value="">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-form-label">Placa</label>
                    <div>
                        <input class="form-control" name="plate" type="text" value="">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-form-label">Teléfono</label>
                    <div>
                        <input class="form-control" name="phone" type="text" value="">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-form-label">SimCard</label>
                    <div>
                        <input class="form-control" name="simcard" type="text" value="">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-form-label">Protocolo</label>
                    <div>
                        <input class="form-control" name="protocol" type="text" value="">
                    </div>
                </div> 
                <div class="form-group">
                    <button class="btn btn-primary" id="btn-update">Guardar Cambios</button>
                </div> 
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-veh-remove" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar vehículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">  
                <div>Eliminar registro ?</div>
            </div>
            <div class="modal-footer">  
                <button type="button" id="del-reg" reg-id="" class="btn btn-primary" aria-label="delete">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div> 