table.geo-api thead th{
    position: relative;
    display: table-cell;
}
table.geo-api thead th:after{
    color: rgba(50, 50, 50, 0.5); 
    cursor: pointer;
    margin-left: 10px;
    font-family: FontAwesome !important;
}
.geo-api-sort:after{
    content:"\f0dc";
}
.geo-api-sort-up:after{
    content:"\f0de";
}
.geo-api-sort-down:after{
    content:"\f0dd";
}
.geo-api-sort-down,
.geo-api-sort-up,
.geo-api-sort{
    cursor: pointer;
}
.geo-api-btn-edit{
    background: #1976d2;
    color: #fff;
}
.geo-api-btn-del{
    background: #ef5350;
    color: #fff;
}
.bootstrap-datetimepicker-widget table td span{
    text-align: center;
    text-align: -webkit-center;
}